/*homepageLinks
Menue
AccomodationsList
body
h1
h2
h3
p
/
/ #3b2c5e purple
#616161 grey
#444445 Dark Grey
#37a13e Toxic green
#ff0000 american flag red
#0055ff freedom blue
#ffe600 sunny yellow

*/
.Menue{
  font-family: sans-serif, Arial;
}
.Menue a{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
a:link{
  color: #ff0000;
}
a:visited{
  color: #702626;
}
.Photos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.HomepageLinks{
  background-color: #ffe600;
  align-self: center;
  text-align: center;
}
.HomepageLinks a{
  padding-left: 20px;
  padding-right: 20px;
}
.HomepageTitle{
  font-size: 60px;
  text-align: center;
}
h1{
  background-color: #ffe600;
  color: #ff0000;
}

h3{
  font-style: italic;
}
body{
  background-color: #0055ff;
  color: #ff0000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.AccomodationsList{
  font-weight: 800;
}
.TextBlock{
  background-color: #ffe600;
}
.TextBlock p{
  padding-left: 30px;
  padding-right: 30px;
}